@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rajdhani", sans-serif;
  background: #00235e;
}
p {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 700;
}

/* header */
header {
  position: fixed;
  width: 100%;
  background: #00235e !important;
  z-index: 5;
  border-bottom: 1px solid #0bcbff;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}
.social-part .fa {
  padding-right: 20px;
}
ul li a {
  margin-right: 20px;
}
.logo__img {
  width: 200px;
}
.nav_padding {
  padding: 18px 0px;
}
.positio_buts {
  position: absolute;
  bottom: 0px;
}
.headerbg_o {
  background: #00235e !important;
  border-bottom: 0px solid #0bcbff;
  position: relative;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-right: 12px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(11, 203, 255);
}
.first_sectiom {
  background-image: url("../img/firstsection.jpg");
  height: 750px;
  width: 100%;
  padding-top: 109px;
  padding-bottom: 40px;
  background-size: cover;
}
.first_sectiom > .container {
  position: relative;
}

.img_1 {
  background-image: url("../img/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 245px;
  width: 211px;
  position: absolute;
  top: 32%;
  margin-top: 103px;
}
.img_2 {
  background-image: url("../img/image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 214px;
  width: 271px;
  position: absolute;
  top: -12%;
  left: 26%;
}
.img_3 {
  background-image: url("../img/image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 205px;
  width: 267px;
  position: absolute;
  top: -2%;
  left: 54%;
}
.img_4 {
  background-image: url("../img/image4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 212px;
  width: 218px;
  position: absolute;
  top: 45%;
  right: 0px;
  margin-top: 103px;
}
.content_center {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-46%, 100%); */
  /* margin-top: 59px; */
  /* margin-top: 133px; */
  /* margin: 0 auto; */
  width: 60%;
  /* display: block; */
  margin-left: 218px;
  margin-top: 234px;
}

.content_center h1 {
  color: #d4660d;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}
.content_center p {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-top: 11px;
}
.second_section {
  background: #00235e;
}
.second_section .container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second_section h1 {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.second_section li {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  padding: 1px 10px;
  text-transform: uppercase;
  color: #fff;
}
.second_section li span {
  display: block;
  font-size: 70px;
  color: #0bcbff;
  font-weight: bold;
}

.second_section .emoji {
  display: none;
  padding: 1rem;
}

.second_section .emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}
.timers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	background: #000168;
	border: 2px solid #0bcbff;
	margin-top: -56px;
	border-radius: 49px;
	overflow: hidden;
	padding: 16px 15px;
}
.timers > div {
  width: 50%;
}
.cont_iy > p {
	color: #fff;
	margin: 0;
	text-align: left;
	margin-bottom: 5px;
	font-size: 22px;
	font-weight: 600;
	overflow-wrap: break-word;
}
.cont_iy > .headin {
  color: #0bcbff;
  font-size: 15px;
  font-weight: 500;
}
.cont_iy {
	padding: 0px 19px;
}
.mar-but {
  margin-bottom: 7px !important;
}
.colu_iusd {
  margin: 0;
  text-align: left;
  padding: 1px 19px;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}
.textr_uya {
  font-size: 16px !important;
  text-transform: capitalize;
  color: #fff !important;
  font-weight: 600 !important;
}
.spaceytr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.spaceytr_semi {
  font-size: 70px;
  color: #0bcbff;
  font-weight: bold;
  margin-top: -23px;
}
.border_45 {
	width: 30px;
	background-image: url("../img/border.png");
	height: 160px;
	border-radius: 24px;
	background-size: contain;
	padding: 5px;
	padding-right: 0px;
	margin-right: -3px;
	margin-left: 1px;
	background-repeat: no-repeat;
}
.third_section {
  background: #00235e;
  padding: 50px 0px;
}
.third_section img {
  width: 100%;
  height: 100%;
}
.formflex_s {
  /* flex-direction: column !important; */
  justify-content: flex-start;
  align-items: first baseline;
  margin-bottom: 30px !important;
}
.third_section h4 {
  width: 100%;
  padding: 1px 14px;
  color: #d4660d;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
}
.formflex_s label {
  margin-bottom: 18px;
  color: #fff;
  font-size: 16px;
}
.formflex_s input {
  height: 46px;
  border-radius: 26px;
  border: 2px solid #4bb3e6;
}
.clasd_p {
  color: #fff;
  font-size: 15px;
  padding: 11px 4px;
  margin: 0;
  margin-top: 6px;
  width: 74%;
  text-align: justify;
  margin-top: 20px;
  font-weight: 500;
}

.fouth_section {
  background-image: url("../img/sec4banner.jpg");
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.classinner {
}
.classinner h5 {
  font-size: 26px;
  color: #0bcbff;
  font-weight: bold;
  padding: 1px 0px;
  width: 77%;
}
.classinner p {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}
.classinner img {
  width: 80px;
}
.mabuttons {
  margin-bottom: 10px;
}
.fouth_section .container {
  margin-top: 0;
}
.fouth_section h1 {
  font-size: 40px;
  color: #d4660d;
  font-weight: bold;
}
.five_section {
  background-image: url("../img/five_section.jpg");
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.five_section h1 {
  font-size: 40px;
  color: #d4660d;
  font-weight: bold;
  margin-bottom: 17px;
}
.five_section p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 500;
}
.flex_contea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.flex_contea img {
  margin-right: 15px;
}
.flex_contea h3 {
  color: #0bcbff;
  font-size: 26px;
  font-weight: bold;
}
.paddingledft {
  padding-left: 35px;
}
.mar_p p {
  margin-bottom: 0;
}
.six_section {
  background-image: url("../img/six_i.jpg");
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-bottom: 10px; */
}
.seven_section {
  background: #d4660d;
}
.seven_section img {
  width: 100%;
  height: 100%;
}
.seven_section h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 5px;
}
.seven_section p {
  font-size: 15px;
  color: #fff;
  padding: 1px 0px;
  width: 80%;
  font-weight: 500;
}
.seven_section button {
  font-size: 24px;
  padding: 8px 18px;
  border-radius: 30px;
  border: 3px solid #e4cb7b;
  background: #b85606;
  color: #fff;
  margin-top: 11px;
  cursor: pointer;
  font-weight: 700;
}
.comas_12 {
  padding: 28px 15px;
}
.eight_section {
  background-image: url("../img/eight_section.jpg");
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-bottom: 10px; */
  object-fit: cover;
  max-height: 663px;
}
.eight_section h1 {
  font-size: 40px;
  color: #d4660d;
  font-weight: bold;
  margin-bottom: 20px;
}
.eight_section p {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.copyright {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.footerlogo {
  width: 150px;
}
address h5,
p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
address h5 {
  padding: 15px 0px;
  margin: 0;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}
.sugeson h5 {
  padding: 15px 0px;
  margin: 0;
  margin-top: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.terms {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  padding-top: 24px;
}
.terms a {
  color: #fff;
  font-size: 14px;
  padding: 5px 0px;
  margin-bottom: 5px;
  font-weight: 500;
}
.social {
  margin-top: 10px;
}
.social i {
  color: #09347c;
  background: transparent;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #09347c;
  margin-right: 5px;
  cursor: pointer;
}
.social i:hover {
  color: #fff;
  background: #d4660d;
  border: 1px solid transparent;
}
footer {
  padding: 25px 0px;
  border-top: 1px solid #0bcbff;
}
.bottnpays {
  margin-top: 20px;
}
.first_list h5,
li {
  color: #fff;
}
.lists {
  list-style: none;
}
.toppatch {
  width: 35%;
  padding: 1px 15px;
  border-left: 1px solid #fff;
  margin-bottom: 25px;
  position: relative;
  margin-right: 77px;
  height: 225px;
  z-index: 2;
}
.toppatch::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background: #0bcbff;
  left: -11px;
  bottom: -34px;
  z-index: 3;
  border-radius: 50%;
}
.first_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.first_list::after {
  content: "";
  width: 100%;
  border: none;
  border-bottom: 1px #c4f2ff;
  position: absolute;
  left: -16px;
  bottom: 0;
  z-index: 1;
  border-style: dashed;
}
.secondlistpatch {
  width: 36%;
  padding: 1px 15px;
  border-left: 1px solid #fff;
  margin-bottom: 25px;
  position: relative;
  margin-left: 111px;
  margin-top: 25px;
  z-index: 2;
}
.secondlistpatch::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background: #0bcbff;
  left: -11px;
  top: -37px;
  z-index: 3;
  border-radius: 50%;
}
.secondpatch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 10%;
}
.h3mw_add {
  font-size: 18px;
  color: #0bcbff !important;
  font-weight: bold;
}
.lists li {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.h1weru_op {
  font-size: 40px;
  color: #d4660d;
  font-weight: bold;
  margin-bottom: 30px;
}
.formobile {
  display: none;
}
.classinner,
.flex_contea:hover {
  cursor: pointer;
}
.classinner:hover h5 {
  color: #d4660d;
  transition-duration: 0.5s;
}
.toppatch:hover h5 {
  color: #d4660d;
  transition-duration: 0.5s;
}

.seven_section button:hover {
  background: #031e4b;
  border-color: #ff933b;
  box-shadow: 0px 2px 11px #444343;
  transition-duration: 0.5s;
}
.flex_contea:hover h3 {
  color: #d4660d;
  transition-duration: 0.5s;
}

.flex_contea:hover img {
  cursor: pointer;
}

.accordion_container {
}
.accordion_head {
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 0 0 1px 0;
  padding: 7px 11px;
  font-weight: bold;
  background-color: #00235e;
  border-bottom: 1px solid #092453;
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 15px 16px 13px 8px rgb(4 4 4 / 5%);
  padding: 18px 15px;
  border-top: 1px solid #3e4662;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.accordion_head:hover {
  color: #d4660d;
}
.accordion_body {
  background: lightgray;
}
.accordion_body p {
  margin: 0px;
  background: #00235e;
  color: #fff;
  padding: 15px 22px;
}
.plusminus {
  float: right;
  color: #d4660d;
  font-size: 26px;
}
.buttonflex {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.buttonflex button {
  padding: 7px 18px;
  margin-right: 24px;
  border: 0;
  border-radius: 30px;
  font-size: 24px;
  width: 223px;
  text-align: center;
  font-weight: 600;
}
.buton1 {
  background: #d4660d;
  color: #fff;
  border: 4px solid #e4cb7b !important;
}
.buton2 {
  background: #00016d;
  color: #0bcbff;
  border: 4px solid #b8bcdd !important;
}
.buton1,
.buton2:hover {
  box-shadow: 0px 2px 11px #444343;
  transition-duration: 0.5s;
  cursor: pointer;
}
.imghoversec {
  width: 80px;
  overflow: hidden;
  height: 84px;
  display: flex;
  flex-direction: column;
}
.classinner:hover .normalicon {
  order: 2;
}
.classinner:hover .changedicon {
  order: 1;
  transition-duration: 0.3s;
}

._widthnew {
  width: 149px;
  height: 83px;
}
.flex_contea:hover .normalicon {
  order: 2;
}
.flex_contea:hover .changedicon {
  order: 1;
  transition-duration: 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .second_section h1 {
    font-size: 1.5rem;
  }
  ._widthnew {
    width: 129px;
    height: 70px;
  }
  .cont_iy > .headin {
	font-size: 15px;
	width: 90%;
}

  .second_section li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }

  .second_section li span {
    font-size: 3.375rem;
  }
  .img_1 {
    height: 152px;
    width: 131px;
    margin: 0;
    left: 0;
    top: 0;
  }
.cont_iy > p {
	font-size: 17px;
	overflow-wrap: break-word;
	width: 80%;
}
  .content_center {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0%, 0%);
    margin: 133px auto;
    width: 60%;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px;
  }
  .buttonflex button {
    font-size: 18px;
  }
  .border_45 {
    margin: 0;
    width: 3px;
    height: 158px;
    background-size: 100% 152px;
    padding: 1px 12px;
    padding-left: 2px;
    margin-left: 9px;
  }
  .cont_iy {
    padding: 0px 16px;
  }
  .img_1,
  .img_2,
  .img_3,
  .img_4 {
    display: block;
  }
  .timers > div {
    width: 100%;
  }

  .classinner p {
    font-size: 13px;
  }
  .classinner h5 {
    font-size: 18px;
    width: 100%;
  }
  .classinner {
    margin: 0 !important;
    padding: 5px !important;
  }

  .fouth_section h1 {
    font-size: 28px;
  }
  .clasd_p {
    width: 100%;
    text-align: justify;
    margin-top: 20px;
  }
  .third_section img {
    width: 100%;
    height: 44%;
    margin: 82px auto;
  }
  .timers {
    /* flex-direction: column; */
    width: 100%;
  }
  .paddingledft {
    padding-left: 0px;
  }
  .five_section {
    padding: 30px 0px;
  }
  .five_section h1 {
    font-size: 30px;
  }
  .flex_contea h3 {
    font-size: 22px;
  }

  .img_3 {
    height: 123px;
    width: 177px;
    top: -35%;
    left: 60%;
  }
  .img_2 {
    height: 127px;
    width: 187px;
    top: -36%;
    left: 19%;
  }
  .img_4 {
    height: 120px;
    width: 122px;
    top: 7%;
    right: 0px;
    margin-top: 0;
  }
  ul li a {
    margin-right: 0;
    font-size: 13px;
  }
  .seven_section h3 {
    font-size: 25px;
  }
  .toppatch {
    width: 48%;
    padding: 1px 15px;
    margin-right: 14px;
  }
  .lists li {
    color: #fff;
    font-size: 13px;
  }
  .secondpatch {
    margin-left: 15%;
    width: 90%;
    padding: 0;
  }
  .secondlistpatch {
    width: 50%;
    margin-left: 70px;
    margin-top: 24px;
  }
  .seven_section h3 {
    font-size: 28px;
  }
  .seven_section button {
    margin-top: 11px;
    font-size: 16px;
    letter-spacing: 0.3px;
  }
  .logo__img {
    width: 170px;
  }
  .seven_section p {
    width: 100%;
  }
  .comas_12 {
    text-align: center;
  }
  .seven_section img {
    object-fit: contain;
  }
  .eight_section {
    background-size: cover;
    height: auto;
  }
  .footerlogo {
    width: 125px;
  }
  .social i {
    padding: 6px;
    margin-right: 1px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .headerbg_o {
    display: flex;
    flex-direction: row-reverse;
    padding: 7px 21px;
  }
  .second_section li span {
    display: block;
    font-size: 70px;
    color: #0bcbff;
    font-weight: bold;
  }

  .mar_p {
    margin-left: 26px;
  }
  ._widthnew {
    width: 232px;
    height: 78px;
    margin-left: -30px;
    margin-right: 0;
  }
  .colu_iusd {
    padding: 1px 5px;
    font-size: 20px;
  }

  .navbar-light .navbar-toggler-icon {
    filter: brightness(3) invert(2);
  }
  .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 250, 250, 0.1);
  }
  .content_center h1 {
    font-size: 30px;
  }
  .positio_buts {
    position: relative;
  }
  .logo__img {
    width: 155px;
  }
  .content_center {
    position: relative;
    left: 0;
    transform: none;
    margin-top: 74px;
    margin: 0;
    width: 100%;
    margin-top: 74px;
  }
  .border_45 {
    margin-bottom: 0;
    position: relative;
  }
  .border_45::before {
    width: 50px;
    content: url("../img/border.png");
    height: 0;
    position: absolute;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    top: 0;
    left: 100px;
  }
  .img_1,
  .img_2,
  .img_3,
  .img_4 {
    display: none;
  }
  .timers > div {
    width: 100%;
    padding: 0 10px;
  }
  .timers {
    width: 100%;
    flex-direction: column;
  }
  .border_45 {
    width: 105px;
    height: 1px;
    margin-bottom: 15px;
  }
  .cont_iy > p {
    font-size: 17px;
  }
  .fouth_section {
    background-image: url("../img/sec4banner_.html");
  }
  .fouth_section h1 {
    font-size: 28px;
  }
  .classinner {
    margin: 0 !important;
  }
  .five_section h1 {
    font-size: 28px;
  }
  .flex_contea h3 {
    font-size: 18px;
  }
  .flex_contea img {
    margin-right: 8px;
    width: 79px;
  }
  .seven_section img {
    display: none;
  }
  .comas_12 {
    background-image: url("../img/six_1.png");
    text-align: center;
    background-size: contain;
    background-position: center;
  }
  .seven_section h3 {
    font-size: 28px;
  }
  .seven_section button {
    font-size: 15px;
  }
  .seven_section p {
    width: 100%;
  }
  .eight_section h1 {
    font-size: 28px;
  }
  .panel-title > a {
    font-size: 15px;
  }
  .footerlogo {
    width: 108px;
  }
  address h5 {
    padding: 0;
    margin: 0;
  }
  address {
    padding: 14px 0px;
    margin: 0;
  }
  .disnonr {
    display: none;
  }
  .formobile {
    display: block;
  }
  footer {
    padding: 0;
  }
  .copyright {
    text-align: center;
  }
  .first_list {
    flex-direction: column;
  }
  .toppatch {
    width: 86%;
    margin-right: 0px;
    height: 225px;
  }
  .first_list::after {
    display: none;
  }
  .secondpatch {
    padding-left: 7%;
    flex-direction: column;
  }
  .secondlistpatch {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .lists li {
    font-size: 14px;
  }
  .toppatch::after {
    top: -24px;
  }
  .secondlistpatch::after {
    top: -24px;
  }
  .first_sectiom {
    height: 572px;
    padding-top: 35px;
  }
  .h1weru_op {
    font-size: 28px;
  }
  .buttonflex button {
    padding: 7px 9px;
    font-size: 16px;
    width: 164px;
    margin: 0;
  }
  .buttonflex {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 360px) and (max-width: 400px) {
  .second_section li span {
    font-size: 48px;
  }
  .accordion_head {
    font-size: 15px;
  }
  .cont_iy > p {
	font-size: 17px;
	width: 80%;
	overflow-wrap: break-word;
}
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .headerbg_o {
    flex-direction: row;
    padding: 7px 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    margin-right: 12px;
    padding: 0px !important;
    margin-right: 9px;
  }

  .clasd_p {
    width: 100%;
  }
  .classinner h5 {
    font-size: 22px;
  }
  .border_45 {
    margin-bottom: 0;
    position: relative;
  }
  .border_45::before {
    width: 50px;
    content: url("../img/border.png");
    height: 0;
    position: absolute;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    top: 0;
    left: 100px;
  }
  .logo__img {
    width: 138px;
  }
  header .container {
    margin: 0;
    max-width: 100%;
  }
  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  ul li a {
    margin-right: 4px;
    font-size: 13px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1022px) {
  .img_2 {
    height: 141px;
    width: 200px;
    top: -72%;
    left: 19%;
  }
  ._widthnew {
    height: 65px;
  }
  .img_3 {
    height: 138px;
    width: 200px;
    top: -70%;
    left: 60%;
  }
  .img_1 {
    height: 184px;
    width: 159px;
    margin: 0;
    left: 0;
    top: -5px;
  }
  .img_4 {
    height: 176px;
    width: 173px;
    top: 10%;
    right: 0px;
    margin-top: 0;
  }
  .third_section img {
    width: 85%;
    height: 55%;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1098px) {
  ._widthnew {
    height: 70px;
  }
}
@media screen and (min-width: 1026px) and (max-width: 1196px) {
  .img_4 {
    right: -55px;
  }
  .img_1 {
    left: -60px;
  }
  .content_center {
    margin-left: 182px;
    margin-top: 234px;
  }
  .img_2 {
    left: 20%;
  }
}
